<h1>TODO</h1>
<ul>
  <li>Configurer la navigation entre la page1, page2 et page3</li>
  <li>Créer le menu</li>
  <li>Configurer la page 1 comme page par défaut</li>
  <li>Configurer la navigation entre les sous pages page1/subpage1 ...</li>
  <li>Créer le sous menu</li>
  <li>Créer un resolver qui récupère une liste de data pour la route page1</li>
  <li>Afficher les data dans la route page1</li>
  <li>Créer un guard qui bloque l'accès de la page2</li>
  <li>Changer le titre de la page lorsqu'on est sur la page1 en 'PAGE 1'</li>
</ul>

<h1>Ne pas oublier</h1>
<ul>
  <li>Utilisez le lazy loading aux maximum</li>
</ul>

<app-menu></app-menu>

<router-outlet></router-outlet>
